.mega-menu {
    position: static;
  }

  .mega-menu .dropdown-menu {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
  }

  .mega-menu .dropdown-item {
    display: block;
    padding: .5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .mega-menu .dropdown-item:hover {
    background-color: #e9ecef;
  }